<p></p>

<form [formGroup] = "loginForm" (ngSubmit) = "onSubmit(loginForm.value)">
  
  <div>
    <label for = "username">
      Username
    </label>
    <input id = "username" type = "text" formControlName = "username">
  </div>

  <div>
    <label for = "password">
      Password
    </label>
    <input id = "password" type = "password" formControlName = "password">
  </div>

  <input type = "checkbox" onclick="getPassword()">Show Password

  <p>
    <button class = "button" type = "submit">Login</button>
  </p>
</form> 