<h3>
  Cart
</h3>
<!--Removed : {{data}}
Price : {{OriginalPrice}}-->

<!--{{flagValue}}-->

<div class = "cart-item" *ngFor = "let item of items" >
  <span>{{item.name}}</span>
  <span>{{item.price|currency}}</span>
  <span *ngIf="item.type">
    {{item.type}}
    {{item.priceToShip|currency}}
  </span>
</div>

<p *ngIf="OriginalPrice>0">
<button (click) = "clearTheCart()">Clear Cart</button>
</p>

<p *ngIf="items.length > 1">
<button (click) = "removeLastItem()">Remove Last Item</button>
</p>

<h3 style="color:#1976d2"> Cart Amount : {{ OriginalPrice| currency }}</h3>


<!-- <h3> 
  <a [routerLink]="['/shipping']">Shipping Details</a>
</h3> -->

<a [routerLink]="['/shipping']" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>
  Shipping
</a>