<a [routerLink]="['/productlist']">
  <h1>My Store</h1>
</a>

<a [routerLink]="['/cart']" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>
  Checkout
</a>

<div *ngIf = "flagValue==1">
  <h3 style="color:white; padding:8px; margin:0" >Welcome  {{name}}</h3>
</div>

<div *ngIf = "flagValue==1">
  <button (click) = "logOut()">
    <h3 style="color:white; padding:8px; margin:0" >LogOut</h3>
  </button>
</div>

<div *ngIf = "flagValue==0">
  <a [routerLink]="['/']">
    <h3 style="color:white; padding:8px; margin:0" >Login</h3>
  </a>
</div>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->